<style>
  div.static-content {
   
    div.centered {
      margin: 0 auto;
      max-width: 46rem;
      text-align: center;
    }
    p {    
      text-align: left;
      font-size: 110%;
    }
    img#main {
      margin: 0 auto 2rem;
      max-width: 60%;
      display: block;
    }
    div.intro {
      margin-top: 3em;
    }
    div.question {
      margin: 0 auto 1rem;
      font-weight: 600;
      font-size: 120%;
      text-align: left;        
    }
    div.question p {
      margin-top: 0;
    }
    div.answer p {
      margin-bottom: 0;
    }
    div.quotes {
      display: flex;
    }
    div.quotes img {
      align-self: center;
      width: 3em;
    }
    div.quotes img#closequote {
      position: relative;
      right: 1.5em;
    }
    div.quotes div {
      font-size: 800%;
      color: lightgrey;
      font-family: math;
    }
    blockquote {
      font-style: italic;
      max-width: 40rem;
      text-align: left;
      color: #696969;  /* Makes the quote text grey */
    }
    blockquote p {
      margin: 0;
    }
    blockquote cite {
      font-style: normal;
      line-height: 1.75;
      font-size: 120%;  /* Adjust size (smaller than questions) */
      color: grey;     /* Change text color */
    }
    button {
      cursor: pointer;
      outline: 0;
      color: #fff;
      background-color: #0d6efd;
      border-color: #0d6efd;
      display: inline-block;
      line-height: 1.5;
      text-align: center;
      border: 1px solid transparent;
      padding: 6px 12px;
      border-radius: .25rem;
      transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }
    button:hover {
      color: #fff;
      background-color: #0b5ed7;
      border-color: #0a58ca;
    }
    button a {
      text-decoration: none;
      color: #fff;
      font-size: 1.3em;
      font-weight: 400;
    }
    img#openquote {
      width: 3em;
      position: relative;
      right: 26em;
      top: 3em;
    }
    img#closequote {
      width: 3em;
      position: relative;
      left: 24em;
      bottom: 3em;
    }
  }
</style>


